BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ABBR {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ACRONYM {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
STRONG {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
BODY {
	FONT-FAMILY: 'ËÎÌו'; FONT-SIZE: 12px
}

@media Unknown    
{
BODY {
	OVERFLOW-Y: scroll
}
BODY {
	OVERFLOW-Y: scroll
}
    }
A {
	TEXT-DECORATION: none
}
.title .little SPAN {
	BACKGROUND: url(ico.gif) no-repeat
}
.pictext SPAN {
	BACKGROUND: url(ico.gif) no-repeat
}
.button {
	BACKGROUND: url(ico.gif) no-repeat
}
.submit {
	BACKGROUND: url(ico.gif) no-repeat
}
.copyadd {
	BACKGROUND: url(ico.gif) no-repeat
}
.header {
	MARGIN: 0px auto; WIDTH: 960px; PADDING-TOP: 15px
}
.logo {
	FLOAT: left
}
.copy {
	POSITION: relative; WIDTH: 340px; FLOAT: right; HEIGHT: 65px; OVERFLOW: hidden
}
.copy SPAN {
	POSITION: relative; DISPLAY: inline-block; FLOAT: left
}
.copy IMG {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 5px
}
.text {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 23px; PADDING-LEFT: 10px; WIDTH: 240px; FLOAT: left; HEIGHT: 23px; COLOR: #666; FONT-SIZE: 14px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.button {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 83px; BACKGROUND-POSITION: 0px -80px; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 25px; COLOR: #fff; MARGIN-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.msg {
	POSITION: absolute; LINE-HEIGHT: 25px; COLOR: #c00; TOP: 0px; RIGHT: 100px
}
.nav {
	BORDER-BOTTOM: #2db4f4 3px solid; LINE-HEIGHT: 37px; HEIGHT: 37px; CLEAR: both; OVERFLOW: hidden; _display: inline-block
}
.nav UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #333; OVERFLOW: hidden; PADDING-TOP: 0px; _display: inline-block
}
.nav UL LI {
	MARGIN: 0px 5px; DISPLAY: inline; FLOAT: left; FONT-SIZE: 16px
}
.nav UL LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: #333; COLOR: #fff; PADDING-TOP: 0px
}
.nav UL LI A.hover {
	BACKGROUND: #2db4f4
}
.nav UL LI A:hover {
	BACKGROUND: #2db4f4
}
.main {
	MARGIN: 10px auto 0px; WIDTH: 960px
}
.main A:hover {
	COLOR: #c00
}
.row {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #f7f7f7; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 40px; _display: inline-block
}
.rl {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; WIDTH: 450px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 10px
}
.title {
	HEIGHT: 30px; OVERFLOW: hidden; _display: inline-block
}
.title H1 {
	DISPLAY: inline-block; FLOAT: left; COLOR: #333; FONT-SIZE: 26px; FONT-WEIGHT: bold
}
.title .little {
	LINE-HEIGHT: 26px; FLOAT: left; HEIGHT: 26px; MARGIN-LEFT: 10px; FONT-SIZE: 20px
}
.title .little SPAN {
	PADDING-LEFT: 25px; DISPLAY: inline-block; BACKGROUND-POSITION: -162px -106px
}
.intro {
	LINE-HEIGHT: 25px
}
.intro SPAN {
	DISPLAY: block; COLOR: #333; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.downbox {
	CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 15px; _display: inline-block
}
.down {
	WIDTH: 230px; FLOAT: left
}
.downnow {
	DISPLAY: block
}
.down .size {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 20px; COLOR: #666; PADDING-TOP: 10px
}
.code {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 30px
}
.codebg {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 130px; BACKGROUND: #fff; HEIGHT: 130px; VERTICAL-ALIGN: middle; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.codebg IMG {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 120px; PADDING-RIGHT: 5px; HEIGHT: 120px; PADDING-TOP: 5px
}
.downpic {
	LINE-HEIGHT: 20px; DISPLAY: inline-block; HEIGHT: 20px; COLOR: #c00; FONT-SIZE: 14px
}
.rr {
	FLOAT: right
}
.piclist {
	CLEAR: both; PADDING-TOP: 30px
}
.piclist UL {
	OVERFLOW: hidden; _display: inline-block
}
.piclist UL LI {
	WIDTH: 210px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 40px
}
.piclist UL LI.last {
	MARGIN: 0px
}
.piclist UL LI IMG {
	DISPLAY: block
}
.pictext {
	LINE-HEIGHT: 25px; COLOR: #808080; FONT-SIZE: 13px; OVERFLOW: hidden; PADDING-TOP: 15px
}
.pictext SPAN {
	PADDING-LEFT: 30px; DISPLAY: block; COLOR: #333; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.pictext SPAN.p1 {
	BACKGROUND-POSITION: -162px 3px
}
.pictext SPAN.p2 {
	BACKGROUND-POSITION: -162px -24px
}
.pictext SPAN.p3 {
	BACKGROUND-POSITION: -162px -49px
}
.pictext SPAN.p4 {
	BACKGROUND-POSITION: -162px -78px
}
.footer {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; MARGIN: 15px auto 0px; WIDTH: 960px; COLOR: #808080; CLEAR: both; FONT-SIZE: 14px; BORDER-TOP: #ccc 1px solid
}
.footer A:hover {
	COLOR: #c00
}
.link {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #e7f7ff; PADDING-TOP: 10px
}
.link UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; OVERFLOW: hidden; PADDING-TOP: 0px; _display: inline-block
}
.link UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 0px
}
.link UL LI SPAN {
	COLOR: #666; FONT-WEIGHT: bold
}
.link UL LI A {
	COLOR: #808080
}
.bottom {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
.row1 {
	LINE-HEIGHT: 60px; MARGIN: 25px 0px; PADDING-LEFT: 20px; BACKGROUND: #fff9e3; HEIGHT: 60px; COLOR: #808080; FONT-SIZE: 14px
}
.row2 {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 25px; LINE-HEIGHT: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-TOP: 25px
}
.row2 SPAN {
	DISPLAY: block; COLOR: #b2b2b2; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.row2 SPAN.copytext {
	POSITION: relative; DISPLAY: inline-block; FONT-WEIGHT: normal
}
.row2 SPAN.msg_text {
	PADDING-LEFT: 10px; DISPLAY: inline-block; COLOR: #2db4f4; FONT-WEIGHT: normal
}
.row2 INPUT {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 10px; WIDTH: 260px; PADDING-RIGHT: 10px; BACKGROUND: #f2f2f2; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 30px; COLOR: #333; FONT-SIZE: 16px; BORDER-LEFT-WIDTH: 0px; MARGIN-RIGHT: 10px; PADDING-TOP: 0px
}
.row2 A {
	COLOR: #c00; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.row3 {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 16px; PADDING-TOP: 25px
}
.row3 SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: inline-block; BACKGROUND: #2db4f4; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 18px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.row3 UL {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 30px; _display: inline-block
}
.row3 UL LI {
	LINE-HEIGHT: 25px; MARGIN-BOTTOM: 15px; HEIGHT: 25px; COLOR: #333
}
.row3 UL LI I {
	TEXT-ALIGN: center; FONT-STYLE: normal; WIDTH: 25px; DISPLAY: inline-block; BACKGROUND: #f2f2f2; HEIGHT: 25px; COLOR: #808080; MARGIN-RIGHT: 10px
}
.formart {
	COLOR: #c00
}
.row4 {
	LINE-HEIGHT: 25px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 25px; _display: inline-block
}
.r4l {
	DISPLAY: inline; FLOAT: left; COLOR: #b2b2b2; FONT-WEIGHT: bold
}
.r4r {
	DISPLAY: inline; FLOAT: left; COLOR: #333
}
.position {
	LINE-HEIGHT: 25px; PADDING-LEFT: 10px; HEIGHT: 25px; COLOR: #333; FONT-SIZE: 14px
}
.position SPAN {
	FONT-WEIGHT: bold
}
.position A {
	HEIGHT: 100%; COLOR: #0088c8
}
.newsbox {
	BACKGROUND: #f7f7f7; OVERFLOW: hidden; _display: inline-block
}
.newsl {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 698px; DISPLAY: inline; FLOAT: left; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.newslist {
	OVERFLOW: hidden; _display: inline-block
}
.newslist UL {
	OVERFLOW: hidden; _display: inline-block
}
.newslist UL LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 10px
}
.newslist UL LI.whitebg {
	BACKGROUND: #fff
}
.newslist DL {
	OVERFLOW: hidden; _display: inline-block
}
.newslist DT {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 10px
}
.newslist DT IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; WIDTH: 85px; PADDING-RIGHT: 20px; BACKGROUND: #fff; HEIGHT: 85px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 20px
}
.newslist DD.tit {
	LINE-HEIGHT: 30px; COLOR: #007db8; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
.newslist DD.tit A {
	COLOR: #007db8
}
.newslist DD.tit A:hover {
	COLOR: #c00
}
.newslist DD.time {
	LINE-HEIGHT: 20px; COLOR: #808080
}
.newslist DD.desc {
	LINE-HEIGHT: 25px; HEIGHT: 50px; COLOR: #333; FONT-SIZE: 13px; OVERFLOW: hidden
}
.newslist DD.more {
	TEXT-ALIGN: right; PADDING-TOP: 10px
}
.page {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; OVERFLOW: hidden; PADDING-TOP: 30px; _display: inline-block
}
.page UL {
	FLOAT: right
}
.page UL LI {
	LINE-HEIGHT: 25px; FLOAT: left; FONT-SIZE: 14px; MARGIN-RIGHT: 10px
}
.page UL LI A {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: inline-block; COLOR: #333; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.page UL LI.thisclass {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; PADDING-TOP: 0px
}
.page UL LI.thisclass {
	BORDER-BOTTOM: #2db4f4 1px solid; BORDER-LEFT: #2db4f4 1px solid; BACKGROUND: #2db4f4; COLOR: #fff; BORDER-TOP: #2db4f4 1px solid; BORDER-RIGHT: #2db4f4 1px solid
}
.page UL LI A:hover {
	BORDER-BOTTOM: #2db4f4 1px solid; BORDER-LEFT: #2db4f4 1px solid; BACKGROUND: #2db4f4; COLOR: #fff; BORDER-TOP: #2db4f4 1px solid; BORDER-RIGHT: #2db4f4 1px solid
}
.pageinfo {
	PADDING-RIGHT: 10px
}
.pageinfo STRONG {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.newsr {
	WIDTH: 250px; DISPLAY: inline; FLOAT: right
}
.rbox {
	MARGIN-BOTTOM: 10px; OVERFLOW: hidden; _display: inline-block
}
.rtit {
	LINE-HEIGHT: 30px; PADDING-LEFT: 10px; BACKGROUND: #666; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 14px
}
.tags {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.tags UL {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; OVERFLOW: hidden; PADDING-TOP: 5px; _display: inline-block
}
.tags UL LI {
	MARGIN: 5px 10px; DISPLAY: inline; WHITE-SPACE: nowrap; FLOAT: left; WORD-BREAK: break-all
}
.tags UL LI A {
	COLOR: #333; FONT-SIZE: 14px
}
.hot {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; _display: inline-block
}
.hot UL {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.hot UL LI {
	BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 30px; HEIGHT: 30px; FONT-SIZE: 13px; OVERFLOW: hidden
}
.hot UL LI.last {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.hot UL LI A {
	COLOR: #333
}
.view {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #fff; PADDING-TOP: 20px
}
.view H1 {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 10px; LINE-HEIGHT: 25px; COLOR: #007db8; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
.other {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666; OVERFLOW: hidden; PADDING-TOP: 10px; _display: inline-block
}
.other .share {
	FLOAT: right
}
.short {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 25px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #f7f7f7; COLOR: #333; FONT-SIZE: 13px; PADDING-TOP: 10px
}
.content {
	LINE-HEIGHT: 25px; MARGIN-TOP: 20px; COLOR: #333; FONT-SIZE: 14px
}
.content STRONG {
	FONT-WEIGHT: bold
}
.content P {
	TEXT-INDENT: 2em; MARGIN-BOTTOM: 12px
}
.content DIV {
	MARGIN-BOTTOM: 12px
}
.apage {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 10px; _display: inline-block
}
.apage UL {
	POSITION: relative; LINE-HEIGHT: 25px; FLOAT: right; FONT-SIZE: 14px; RIGHT: 50%
}
.apage UL LI {
	POSITION: relative; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 10px; LEFT: 50%
}
.apage UL LI A {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: inline-block; COLOR: #333; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.apage UL LI.thisclass {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; PADDING-TOP: 0px
}
.apage UL LI.thisclass A {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.apage UL LI.thisclass A:hover {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.apage UL LI.thisclass {
	BORDER-BOTTOM: #2db4f4 1px solid; BORDER-LEFT: #2db4f4 1px solid; BACKGROUND: #2db4f4; COLOR: #fff; BORDER-TOP: #2db4f4 1px solid; BORDER-RIGHT: #2db4f4 1px solid
}
.apage UL LI A:hover {
	BORDER-BOTTOM: #2db4f4 1px solid; BORDER-LEFT: #2db4f4 1px solid; BACKGROUND: #2db4f4; COLOR: #fff; BORDER-TOP: #2db4f4 1px solid; BORDER-RIGHT: #2db4f4 1px solid
}
.lbox {
	MARGIN-BOTTOM: 10px; OVERFLOW: hidden; _display: inline-block
}
.ltit {
	LINE-HEIGHT: 30px; PADDING-LEFT: 10px; BACKGROUND: #808080; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 14px
}
.extend {
	BACKGROUND: #f7f7f7
}
.extend UL {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.extend UL LI {
	BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; HEIGHT: 30px; FONT-SIZE: 13px
}
.extend UL LI A {
	COLOR: #333
}
.extend UL LI.last {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.ibox {
	BACKGROUND: #f7f7f7; OVERFLOW: hidden; _display: inline-block
}
.il {
	WIDTH: 559px; BACKGROUND: #fff; FLOAT: left; BORDER-RIGHT: #e6e6e6 1px solid
}
.inav {
	WIDTH: 160px; FLOAT: left; BORDER-RIGHT: #e6e6e6 1px solid
}
.inav .class {
	BACKGROUND: #e7f7ff
}
.class LI {
	BACKGROUND: url(icon.gif) no-repeat
}
.class LI SPAN {
	BACKGROUND: url(icon.gif) no-repeat
}
.class LI {
	BORDER-LEFT: #e7f7ff 4px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 110px -558px; PADDING-TOP: 1px
}
.class LI SPAN {
	LINE-HEIGHT: 44px; WIDTH: 156px; DISPLAY: inline-block; HEIGHT: 44px; COLOR: #333; FONT-SIZE: 16px
}
.class LI A {
	OUTLINE-STYLE: none; PADDING-LEFT: 42px; WIDTH: 90px; DISPLAY: inline-block; COLOR: #666
}
.class LI .s1 {
	BACKGROUND-POSITION: 5px 2px
}
.class LI .s2 {
	BACKGROUND-POSITION: 5px -38px
}
.class LI .s3 {
	BACKGROUND-POSITION: 5px -78px
}
.class LI .s4 {
	BACKGROUND-POSITION: 5px -118px
}
.class LI .s5 {
	BACKGROUND-POSITION: 5px -158px
}
.class LI .s6 {
	BACKGROUND-POSITION: 5px -198px
}
.class LI .s7 {
	BACKGROUND-POSITION: 5px -238px
}
.class LI.hover {
	POSITION: relative; BORDER-LEFT: #2db4f4 4px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 109px -558px; RIGHT: -1px; PADDING-TOP: 0px
}
.class LI.hover A {
	PADDING-LEFT: 40px; COLOR: #333; FONT-WEIGHT: bold
}
.class LI.hover .s1 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-POSITION: 5px -278px; BORDER-TOP: #e6e6e6 1px solid
}
.class LI.hover .s2 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-POSITION: 5px -318px; BORDER-TOP: #e6e6e6 1px solid
}
.class LI.hover .s3 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-POSITION: 5px -358px; BORDER-TOP: #e6e6e6 1px solid
}
.class LI.hover .s4 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-POSITION: 5px -398px; BORDER-TOP: #e6e6e6 1px solid
}
.class LI.hover .s5 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-POSITION: 5px -438px; BORDER-TOP: #e6e6e6 1px solid
}
.class LI.hover .s6 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-POSITION: 5px -478px; BORDER-TOP: #e6e6e6 1px solid
}
.class LI.hover .s7 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-POSITION: 5px -518px; BORDER-TOP: #e6e6e6 1px solid
}
.help {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; PADDING-TOP: 10px
}
.help LI {
	BORDER-BOTTOM: #f2f2f2 1px solid; LINE-HEIGHT: 30px; PADDING-LEFT: 20px; BACKGROUND: url(iconli.gif) no-repeat 10px 13px; HEIGHT: 30px; OVERFLOW: hidden
}
.help LI A {
	DISPLAY: inline-block; COLOR: #666
}
.middle {
	WIDTH: 398px; FLOAT: left; OVERFLOW: hidden; BORDER-TOP: #e6e6e6 1px solid; _display: inline-block
}
.imbox {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 15px
}
.imtit {
	LINE-HEIGHT: 25px; COLOR: #999; FONT-SIZE: 14px
}
.imtext {
	POSITION: relative; MARGIN-TOP: 5px; OVERFLOW: hidden; _display: inline-block
}
.input {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 0px
}
.sms {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px; OUTLINE-STYLE: none; PADDING-LEFT: 0px; WIDTH: 343px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 20px; COLOR: #333; FONT-SIZE: 18px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 10px
}
.imtext TEXTAREA {
	BORDER-BOTTOM: #333 1px solid; BORDER-LEFT: #333 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; WIDTH: 345px; PADDING-RIGHT: 5px; FONT-SIZE: 18px; OVERFLOW: auto; BORDER-TOP: #333 1px solid; BORDER-RIGHT: #333 1px solid; PADDING-TOP: 5px
}
.imtext SELECT {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 340px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 18px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px
}
.imtext .select {
	MARGIN: 5px 0px
}
.subtit {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #999; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.subtit SPAN {
	PADDING-RIGHT: 10px; COLOR: #c00
}
.imtext .size {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; BOTTOM: 3px; PADDING-RIGHT: 5px; BACKGROUND: #dff4fe; FONT-SIZE: 14px; RIGHT: 25px; PADDING-TOP: 0px
}
.selectcolor {
	PADDING-BOTTOM: 40px; LINE-HEIGHT: 24px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; HEIGHT: 24px; COLOR: #666; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; PADDING-TOP: 9px
}
.iColorPicker {
	BORDER-BOTTOM: #cacaca 1px solid; BORDER-LEFT: #cacaca 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; OUTLINE-STYLE: none; PADDING-LEFT: 3px; WIDTH: 80px; PADDING-RIGHT: 3px; LETTER-SPACING: 2px; HEIGHT: 22px; VERTICAL-ALIGN: middle; BORDER-TOP: #cacaca 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #cacaca 1px solid; PADDING-TOP: 0px; border-radius: 5px
}
.generate {
	TEXT-ALIGN: right; MARGIN-RIGHT: 20px
}
.submit {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 160px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 40px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.ir {
	WIDTH: 400px; FLOAT: right
}
.irtit {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666; FONT-SIZE: 14px; PADDING-TOP: 16px
}
.irtit A {
	PADDING-LEFT: 10px; COLOR: #c00; TEXT-DECORATION: underline
}
.table {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; MARGIN: 5px 0px 0px 50px; BORDER-SPACING: 0; WIDTH: 300px; DISPLAY: block; BORDER-COLLAPSE: collapse; BACKGROUND: #fff; HEIGHT: 300px; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid
}
.table TD {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-SPACING: 0; WIDTH: 300px; BORDER-COLLAPSE: collapse; BORDER-TOP-STYLE: none; HEIGHT: 300px; BORDER-LEFT-STYLE: none; OVERFLOW: hidden
}
.bigcode {
	WIDTH: 300px; BACKGROUND: #fff; OVERFLOW: hidden; _display: inline-block
}
.note {
	LINE-HEIGHT: 25px; COLOR: #2d2d2d; FONT-SIZE: 16px
}
.fail {
	COLOR: #2d2d2d; FONT-SIZE: 18px
}
.bigcode A {
	WIDTH: 300px; DISPLAY: inline-block
}
.bigcode IMG {
	MAX-WIDTH: 300px; VERTICAL-ALIGN: middle
}
.shareinfo {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 100px; PADDING-RIGHT: 0px; HEIGHT: 43px; PADDING-TOP: 13px
}
.save {
	POSITION: relative; TEXT-ALIGN: right; PADDING-BOTTOM: 5px; LINE-HEIGHT: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; HEIGHT: 30px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 5px
}
.save SPAN {
	POSITION: relative; DISPLAY: inline-block
}
.msg_src {
	POSITION: absolute; COLOR: #c00; FONT-SIZE: 14px; TOP: 3px; LEFT: 50px
}
.copyadd {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 110px; BACKGROUND-POSITION: 0px -45px; FLOAT: right; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 30px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.save A.savepic {
	DISPLAY: inline; FLOAT: left; COLOR: #0088c8; MARGIN-LEFT: 190px; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.save A.savepic:hover {
	COLOR: #c00
}

